* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7B68EE;
}

.container {
    display: grid;
    padding: 3em;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}
strong {
    color: blueviolet;
}

.texto {
    background-color: #9370DB;
    border: 1px solid black;
    font-size: 20px;

    color: white;
    padding: 50px;
}

.texto h1 {
    margin-top: 36px;
}

.paragrafo {
    margin-top: 30px;
}

.dados{
    display: flex;
    justify-content: center;
    
}

.dados div{
    margin: 20px;
}

.dados h4 {
margin-top: 40px;

}

.companies{
    font-size: 10px;
    color: #D3D3D3;
}


.imagem {
    border: 1px solid black;
    width: 540px;
    height: 446px; 
    
}
